[submodule ".tmux"]
	path = .tmux
	url = https://github.com/evanchsa/.tmux.git
[submodule "janus"]
	path = janus
	url = https://github.com/carlhuda/janus.git
[submodule ".janus/pyflakes-vim"]
	path = .janus/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
